<h1>New visit through the QR card</h1>

<p>
  Hi Andres !!, a new visit has accoured through the QR code. This is the information of the visit:
</p>

<ul>
  <i>Destination: <%= @visit.destination %></i>
  <i>Ip: <%= @visit.ip %></i>
  <i>Card distribution point: <%= @visit.location %></i>
</ul>

<p>Cheers !!</p>
