<h1>New visit through the QR card</h1>

<p>
  Hi Andres !!, a new visit has accoured through the QR code. This is the information of the visit:
</p>

<ul>
  <li>Destination: <%= @visit.destination.capitalize %></li>
  <li>Ip: <%= @visit.ip %></i>
  <li>Card distribution point: <%= @visit.location.capitalize %></li>
</ul>

<p>Cheers !!</p>
