<div class="container max-w-7/8 grow content-center">
  <div class="personalInformation flex flex-row items-center">
    <div class="personalImage aspect-square mask-clip-border rounded-3xl  min-w-15 bg-cyan-500"></div>
    <div class="text-2xl ml-4">Andres Felipe Muñoz</div>
  </div>

  <div class="container flex flex-row mt-4">
    <div class="personalImage aspect-square rounded-3xl  min-w-15 "></div>
    <p class="text-lg/8 ml-4">Hey there, thank you for visiting my website!
      Feel free to reach out to me with any questions, comments, or just to say hello!.</p>
  </div>

  <turbo-frame id="communication_form">
    <%= render "pages/communications/form", communication: @communication %>
  </turbo-frame>

</div>

