<div>
  <h1 class="font-bold text-4xl mb-10 text-center font-titleBasis text-(--color-textColorTitle) textTitleShadow">Web Tools</h1>

  <div class="container mb-5 mx-2 pr-4 text-justify" >
    <p class="">I build digital tools that solve the kind of problems I run into regularly. One shipped (aside from this
       personal webpage that you can find on <a href="https://github.com/Andrefe91/andresMunozWebSite" target="_blank" rel="noopener noreferrer" class="underline italic hover:text-buttonHover">Github</a>),
      more brewing.
    </p>
  </div>

  <%= render "pages/toolsSections/posePlayer" %>

  <div class="container">
    <h2 class="font-bold text-3xl mb-5 text-left font-titleBasis italic text-(--color-textColorTitle) textTitleShadow">What&#39s Next?</h2>

    <div class="container mx-2 pr-4 text-justify">
      <p>
        <a href="https://youtube.com/clip/UgkxtaWmrNNeToLiEJq99YmvzBQAaj2sRZFr?si=o_Aw_s2qJsK6er4N" class="italic font-bold  hover:text-buttonHover underline">The future, Marty !!</a>
        But seriously, I&#39m working on a web tool for BVBS files, those standardized rebar data files that the
        construction industry uses but are notoriously painful to work with. Think of them as the digital blueprints
        for all the steel reinforcement in concrete structures.
      </p>

      <p class="mt-5">The goal is simple: make BVBS files actually editable. View them in a clean interface, edit the rebar specifications,
        create new files from scratch, and save everything to the cloud so you can access your work from any device.
        Basically, take something that currently requires specialized (and expensive) software and make it work in any browser.
      </p>

      <p class="mt-5">Still in early development, but the construction industry needs better tools, and this is my attempt to build one.</p>
    </div>

  </div>
</div>

