<div>
  <h1 class="font-bold text-4xl mb-10 text-center font-titleBasis">Web Tools</h1>

  <div class="container mb-5 mx-2 pr-4 text-justify" >
    <p class="">This section cover the tools that i have developed over time, so far it&#39s one deployed project
      (aside from this personal webpage that you can find on <a href="https://github.com/Andrefe91/andresMunozWebSite" target="_blank" rel="noopener noreferrer" class="underline italic hover:text-button">Github</a>),
      but i&#39m planning to add more in the future, all the possibilities makes me excited!
    </p>
  </div>

  <%= render "pages/toolsSections/posePlayer" %>

  <div class="container">
    <h2 class="font-bold text-3xl mb-5 text-left font-titleBasis italic">What&#39s Next?</h2>

    <div class="container mx-2 pr-4 text-justify">
      <p>
        <a href="https://youtube.com/clip/UgkxtaWmrNNeToLiEJq99YmvzBQAaj2sRZFr?si=o_Aw_s2qJsK6er4N" class="italic font-bold  hover:text-button">The future Marty !!</a>
        , but seriously yes, kind of. I&#39m developing a site to visualize, create, edit and manage BVBS files. If you dont know what they are,
        allow me to redirect to this
        <a href="https://wiki.impact.strusoft.com/xwiki/bin/view/IMPACT%20Applications/Project%20Manager/Import%20%26%20Export/BVBs/" class="italic underline  hover:text-button">Webpage</a>,
        were you can find more information about them. The idea is a page that allows you to visualize the content of the
        BVBS file, form of the rebar, save to the cloud some that you might like to access from, well, anywhere, and also create new ones, with functions to
        modify the content of the file, like adding or removing elements, editing the properties of them and more.
      </p>

      <p class="mt-5">I&#39m still in the early phases of the design, so i have nothing to share at the moment, but i&#39m excited to see how it turns out.</p>
    </div>

  </div>
</div>

