<footer class="container p-3 mt-8 text-center text-sm border rounded-md border-borderColor/12">
    <p class="text-textColor/50">©2025 Andres Felipe Muñoz. All rights reserved.</p>
    <p class="text-textColor/50">Built with <a href="https://rubyonrails.org/" target="_blank" rel="noopener noreferrer" class="underline hover:text-button">Ruby on Rails</a> and <a href="https://tailwindcss.com/" target="_blank" rel="noopener noreferrer" class="underline hover:text-button">Tailwind CSS</a>.</p>
</footer>
